APP_NAME=
APP_VERSION=
APP_ENV=
APP_DEBUG=
API_PREFIX=
API_VERSION=

MONGODB_URI=
DATABASE_NAME=

LLM_PROVIDER=

GEMINI_API_KEY=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=

FILES_BASE_URL=

WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_SEND_ENABLED=

AI_CONFIG_ENCRYPTION_KEY=