APP_NAME=La Juana API
APP_VERSION=0.1.0
APP_ENV=local
APP_DEBUG=true
API_PREFIX=/api
API_VERSION=v1

MONGODB_URI=
DATABASE_NAME=

LLM_PROVIDER=generic
LLM_BASE_URL=http://localhost:1234
LLM_MODEL=gemma

FILES_BASE_URL=http://localhost/files
